<% if @accountTransactions.count > 0 %>
<h3>Transactions</h3>
<table class="blueTable">
  <thead>
    <tr>
      <th>Type</th>
      <th>Amount</th>
      <th>Description</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
    <% @accountTransactions.each do |transaction| %>
      <tr>
        <td><%= transaction.getType %></td>
        <td><%= transaction.amount.abs %> $</td>
        <td><%= transaction.desc %></td>
        <td><%= transaction.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>